:root { 
  font-family         : 'Inter', sans-serif; 
  --BACKGROUND_GREY   : #f7fafc;
  --BACKGROUND_WHITE  : #f7fafc;
  --COLOR_BORDER      : #ebebee;

  --COLOR_PRIMARY     : #d60b52;
  --COLOR_SECONDARY   : #2071c5;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter', sans-serif; }
}

@font-face { 
  font-family: 'Inter'; font-style:  normal; font-weight: 400; font-display: swap;
  src: url("public/css/font/inter/Inter-Regular.woff2?v=3.19") format("woff2"), url("public/css/font/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face { 
  font-family: 'Inter'; font-style:  normal; font-weight: 500; font-display: swap;
  src: url("public/css/font/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("public/css/font/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face { 
  font-family: 'Inter'; font-style:  normal; font-weight: 600; font-display: swap;
  src: url("public/css/font/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("public/css/font/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face { 
  font-family: 'Inter'; font-style:  normal; font-weight: 700; font-display: swap;
  src: url("public/css/font/inter/Inter-Bold.woff2?v=3.19") format("woff2"), url("public/css/font/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face { 
  font-family: 'Inter'; font-style:  normal; font-weight: 800; font-display: swap;
  src: url("public/css/font/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"), url("public/css/font/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}
  
@font-face { 
  font-family: 'Inter'; font-style:  normal; font-weight: 900; font-display: swap;
  src: url("public/css/font/inter/Inter-Black.woff2?v=3.19") format("woff2"), url("public/css/font/inter/Inter-Black.woff?v=3.19") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f9ffda;
}

.header {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 2px;
    width: 100%;


    display: flex; 
    padding: 8px; 
    justify-content: space-between;
}

.wrapper {
    padding: 32px;
}


.section {
    margin  : 16px 0;
    cursor  : pointer;
}

ul li {
    list-style: none;
    font-family: 'Inter'
}
    

.bc-success  { background : #28b02f; }
.bc-fail     { background : #d60b52; }
.bc-blue     { color      : #2196f3; }
.bc-lightblue{ background : #bab7ff; }
.bc-orange   { background : #fdc576; }
.bc-purple   { background : #dca3b7; }
.bc-pink     { background : #f99a9a; }

